@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --toastify-icon-color-success: #38a46c;
  --toastify-icon-color-info: #38a46c;
  --toastify-color-progress-success: #38a46c;
  --toastify-color-progress-info: #38a46c;
  --toastify-color-progress-dark: #38a46c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
}

.radix-themes {
  --default-font-family: var(--font-nunito);
}
.Toastify__toast--success.Toastify__toast-icon {
  color: #38a46c;
}

.Toastify__toast-theme--dark.Toastify__toast--default {    
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  background-color: rgba(14, 42, 26, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.Toastify__toast-theme--dark.Toastify__toast--info {    
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  background-color: rgba(14, 42, 26, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}


.Toastify__toast-theme--dark.Toastify__toast--success {
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  background-color: rgba(14, 42, 26, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.Toastify__toast-theme--dark.Toastify__toast--warning {
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  background-color: rgba(52, 43, 11, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.Toastify__toast-theme--dark.Toastify__toast--error {
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  background-color: rgba(62, 17, 7, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.Toastify__toast-icon{
  width: 18px;
  height: 18px;
}

.Toastify__close-button > svg {
  background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E" );
}